In [2]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("Vendas_Jan.xlsx")

display(vendas_DataFrame)

            Vendedor                        Produto Data Venda  Total Vendas
0   Leonardo Almeida                 Tênis Feminino 2023-01-01        719.92
1     Eliane Moreira          Calça Feminina Jogger 2023-01-02        139.98
2    Nicolas Pereira               Camisa Masculina 2023-01-03        306.80
3     Amanda Martins              Bermuda Masculino 2023-01-04       1485.60
4       Paulo Santos  Camisa Masculina Festa Balada 2023-01-05        876.84
5    Gabriel Cardoso                 Bota Masculina 2023-01-06        448.28
6   Leonardo Almeida        Jaqueta Masculina Preta 2023-01-07        602.00
7     Eliane Moreira              Bolsa de Trabalho 2023-01-08        994.92
8    Nicolas Pereira    Kit de Pinceis de Maquiagem 2023-01-09       1048.68
9     Amanda Martins               Vestido Infantil 2023-01-10         59.90
10  Leonardo Almeida                Calça Bailarina 2023-01-11        281.40
11    Eliane Moreira                 Camisa Térmica 2023-01-12         83.80
12   Nicolas Pereira                  Sapato Social 2023-01-13        573.30
13    Amanda Martins               Sapatilha Sapato 2023-01-14        503.10
14    Eliane Moreira                 Colar Pingente 2023-01-15        719.20
15      Angela Maria                 Tênis Feminino 2023-01-16        359.96
16    Carlos Moreira          Calça Feminina Jogger 2023-01-17        489.93
17    Eliane Moreira               Camisa Masculina 2023-01-18       1073.80
18   Nicolas Pereira              Bermuda Masculino 2023-01-19       1039.92
19  Leonardo Almeida  Camisa Masculina Festa Balada 2023-01-20       1315.26
20   Gabriel Cardoso                 Bota Masculina 2023-01-21       1344.84
21  Leonardo Almeida        Jaqueta Masculina Preta 2023-01-22        903.00
22    Eliane Moreira              Bolsa de Trabalho 2023-01-23        994.92
23   Nicolas Pereira    Kit de Pinceis de Maquiagem 2023-01-24       1048.68
24    Amanda Martins               Vestido Infantil 2023-01-25        479.20
25    Eliane Moreira                Calça Bailarina 2023-01-26        234.50
26   Nicolas Pereira                 Camisa Térmica 2023-01-27        377.10
27    Amanda Martins                  Sapato Social 2023-01-28        737.10

In [5]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#display - imprime
display(vendas_DataFrame)

            Vendedor                        Produto Data Venda  Total Vendas
0   Leonardo Almeida                 Tênis Feminino 2023-01-01        719.92
1     Eliane Moreira          Calça Feminina Jogger 2023-01-02        139.98
2    Nicolas Pereira               Camisa Masculina 2023-01-03        306.80
3     Amanda Martins              Bermuda Masculino 2023-01-04       1485.60
4       Paulo Santos  Camisa Masculina Festa Balada 2023-01-05        876.84
5    Gabriel Cardoso                 Bota Masculina 2023-01-06        448.28
6   Leonardo Almeida        Jaqueta Masculina Preta 2023-01-07        602.00
7     Eliane Moreira              Bolsa de Trabalho 2023-01-08        994.92
8    Nicolas Pereira    Kit de Pinceis de Maquiagem 2023-01-09       1048.68
9     Amanda Martins               Vestido Infantil 2023-01-10         59.90
10  Leonardo Almeida                Calça Bailarina 2023-01-11        281.40
11    Eliane Moreira                 Camisa Térmica 2023-01-12         83.80
12   Nicolas Pereira                  Sapato Social 2023-01-13        573.30
13    Amanda Martins               Sapatilha Sapato 2023-01-14        503.10
14    Eliane Moreira                 Colar Pingente 2023-01-15        719.20
15      Angela Maria                 Tênis Feminino 2023-01-16        359.96
16    Carlos Moreira          Calça Feminina Jogger 2023-01-17        489.93
17    Eliane Moreira               Camisa Masculina 2023-01-18       1073.80
18   Nicolas Pereira              Bermuda Masculino 2023-01-19       1039.92
19  Leonardo Almeida  Camisa Masculina Festa Balada 2023-01-20       1315.26
20   Gabriel Cardoso                 Bota Masculina 2023-01-21       1344.84
21  Leonardo Almeida        Jaqueta Masculina Preta 2023-01-22        903.00
22    Eliane Moreira              Bolsa de Trabalho 2023-01-23        994.92
23   Nicolas Pereira    Kit de Pinceis de Maquiagem 2023-01-24       1048.68
24    Amanda Martins               Vestido Infantil 2023-01-25        479.20
25    Eliane Moreira                Calça Bailarina 2023-01-26        234.50
26   Nicolas Pereira                 Camisa Térmica 2023-01-27        377.10
27    Amanda Martins                  Sapato Social 2023-01-28        737.10

In [6]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#display - imprime
#Exibe informações sobre quantidade de linhas que tem o DF
display(vendas_DataFrame.index)

RangeIndex(start=0, stop=28, step=1)

In [8]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#display - imprime
#colums - informações sobre quantidade de colunas que tem o DF
display(vendas_DataFrame.columns)

Index(['Vendedor', 'Produto', 'Data Venda', 'Total Vendas'], dtype='object')

In [9]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#head - exibe as 5 primeiras linhas do DF
display(vendas_DataFrame.head())

           Vendedor                        Produto Data Venda  Total Vendas
0  Leonardo Almeida                 Tênis Feminino 2023-01-01        719.92
1    Eliane Moreira          Calça Feminina Jogger 2023-01-02        139.98
2   Nicolas Pereira               Camisa Masculina 2023-01-03        306.80
3    Amanda Martins              Bermuda Masculino 2023-01-04       1485.60
4      Paulo Santos  Camisa Masculina Festa Balada 2023-01-05        876.84

In [11]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#head - exibe quantas linhas forem determinado
display(vendas_DataFrame.head(6))

           Vendedor                        Produto Data Venda  Total Vendas
0  Leonardo Almeida                 Tênis Feminino 2023-01-01        719.92
1    Eliane Moreira          Calça Feminina Jogger 2023-01-02        139.98
2   Nicolas Pereira               Camisa Masculina 2023-01-03        306.80
3    Amanda Martins              Bermuda Masculino 2023-01-04       1485.60
4      Paulo Santos  Camisa Masculina Festa Balada 2023-01-05        876.84
5   Gabriel Cardoso                 Bota Masculina 2023-01-06        448.28

In [18]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#tail - exibe as últimas linhas
display(vendas_DataFrame.tail(5))

           Vendedor                      Produto Data Venda  Total Vendas
23  Nicolas Pereira  Kit de Pinceis de Maquiagem 2023-01-24       1048.68
24   Amanda Martins             Vestido Infantil 2023-01-25        479.20
25   Eliane Moreira              Calça Bailarina 2023-01-26        234.50
26  Nicolas Pereira               Camisa Térmica 2023-01-27        377.10
27   Amanda Martins                Sapato Social 2023-01-28        737.10

In [21]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#Limitando colunas, imprimindo apenas uma coluna
display(vendas_DataFrame["Vendedor"].head())

0    Leonardo Almeida
1      Eliane Moreira
2     Nicolas Pereira
3      Amanda Martins
4        Paulo Santos
Name: Vendedor, dtype: object

In [22]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#Limitando colunas, imprimindo apenas duas colunas
display(vendas_DataFrame[["Vendedor", "Total Vendas"]].head())

           Vendedor  Total Vendas
0  Leonardo Almeida        719.92
1    Eliane Moreira        139.98
2   Nicolas Pereira        306.80
3    Amanda Martins       1485.60
4      Paulo Santos        876.84

In [26]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#loc - localiza e limita a quantidade de linha
display(vendas_DataFrame.loc[1:5])

          Vendedor                        Produto Data Venda  Total Vendas
1   Eliane Moreira          Calça Feminina Jogger 2023-01-02        139.98
2  Nicolas Pereira               Camisa Masculina 2023-01-03        306.80
3   Amanda Martins              Bermuda Masculino 2023-01-04       1485.60
4     Paulo Santos  Camisa Masculina Festa Balada 2023-01-05        876.84
5  Gabriel Cardoso                 Bota Masculina 2023-01-06        448.28

In [27]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#loc - localiza e limita um critério
vendas_Leonardo_Almeida_DF = vendas_DataFrame.loc[vendas_DataFrame["Vendedor"] == "Leonardo Almeida"]


display(vendas_Leonardo_Almeida_DF)

            Vendedor                        Produto Data Venda  Total Vendas
0   Leonardo Almeida                 Tênis Feminino 2023-01-01        719.92
6   Leonardo Almeida        Jaqueta Masculina Preta 2023-01-07        602.00
10  Leonardo Almeida                Calça Bailarina 2023-01-11        281.40
19  Leonardo Almeida  Camisa Masculina Festa Balada 2023-01-20       1315.26
21  Leonardo Almeida        Jaqueta Masculina Preta 2023-01-22        903.00

In [28]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#loc - localiza e limita um critério
vendas_Leonardo_Almeida_DF = vendas_DataFrame.loc[vendas_DataFrame["Vendedor"] == "Leonardo Almeida", ["Vendedor", "Total Vendas"]]


display(vendas_Leonardo_Almeida_DF)

            Vendedor  Total Vendas
0   Leonardo Almeida        719.92
6   Leonardo Almeida        602.00
10  Leonardo Almeida        281.40
19  Leonardo Almeida       1315.26
21  Leonardo Almeida        903.00

In [29]:
import pandas as pd

#Configurando o caminho do arquivo
vendas_DataFrame = pd.read_excel("C:\\Users\\55119\\Desktop\\Curso RPA\\Pandas\\Vendas_Jan.xlsx")

#shape - Mostra quantas linhas e quantas coluna tem no DF
display(vendas_DataFrame.shape)

(28, 4)